.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# android
android/.gradle/
android/local.properties
android/key.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.jks
*.keystore

# ios
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
